@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{

}
body {
	font-family:
	'Do Hyeon', /* 기본 한글 */
	'Anton',      /* 영어 */
	sans-serif;
}
  
@font-face {
	font-family: 'MixedFont';
	src: local('Anton'), local('Do Hyeon');
	unicode-range: U+0041-005A, U+0061-007A; /* 영문 A-Z, a-z */
}

@font-face {
	font-family: 'MixedFont';
	src: local('Do Hyeon');
	unicode-range: U+AC00-D7A3; /* 한글 가~힣 */
}
